@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');


.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: blur 0.2s;
}

.content {
    margin-top: 70px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;

}

@keyframes blur {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0.2;
        scale: 0.5;
    }
}

.content header {
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 20px 0;
    text-align: center;
    text-decoration: underline;
}

.content p {
    margin-left: 50px;
    margin-right: 50px;
    text-justify: inter-word;
    text-align: center;
}



.login-word {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: red;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
}


.log button {
    height: 50px;
    width: 90px;
    cursor: pointer;
    font-family: "Libre Baskerville";
    border-width: 1px;
    border-color: rgb(255, 252, 252);
    border-style: solid;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 400;
}


.signin {
    background-color: rgb(49, 135, 200);
    transition: 0.15s;
    margin-left: 10px;
}

.logbutton {
    background-color: rgb(89, 234, 89);
    transition: 0.15s;
}

.signin:hover {
    background-color: white;
    color: rgb(49, 135, 200);
    border-color: rgb(49, 135, 200);
    box-shadow: 5px 2px 20px rgb(130, 125, 125);

}

.logbutton:hover {
    background-color: white;
    color: rgb(89, 234, 89);
    border-color: rgb(89, 234, 89);
    box-shadow: 5px 2px 20px rgb(130, 125, 125);

}


.exp {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 20px 0;
    text-align: center;
    text-decoration: underline;
}