body {
    margin: 0 -5px 0 0px;
    width: 100vw;
    min-width: auto;
}





a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    opacity: 0.6;
}

p {
    max-width: 1400px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.abt {
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
}

.main {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}